@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter", sans-serif;
  color: $black;
  margin: 0;
  height: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff 0%, #e9ece7 100%);
  background-size: cover;
  background-attachment: fixed;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}
