h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 110%;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
}

h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 110%;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
}

h6 {
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  margin: 0;
  height: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff 0%, #e9ece7 100%);
  background-size: cover;
  background-attachment: fixed;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.gallery {
  padding: 25px;
  grid-template-columns: 1fr;
}
.gallery__title {
  margin: 20px 0;
}
.gallery__description {
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  line-height: 140%;
}
.gallery__subheading {
  margin: 20px 0;
}
.gallery__link {
  color: #076d59;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.gallery__button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  gap: 8px;
  border: none;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.gallery__button:hover {
  background-color: #e9ece7;
  color: #13304a;
}
.gallery__button:hover .gallery__icon {
  content: url("/assets/icons/star-filled-icon.svg");
}
.gallery__button--primary {
  background: #13304a;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  white-space: nowrap;
}
.gallery__button--primary img {
  margin-left: 3px;
  height: 16px;
  width: 16px;
}
.gallery__button--secondary {
  background: #076d59;
}
.gallery__grid {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}
.gallery__image--wide {
  grid-row: 3/span 1;
}
.gallery__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}
.gallery__image--wide, .gallery__thumbnail {
  width: 100%;
  height: 250px;
}
.gallery__thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__thumbnail-image {
  width: 100%;
  height: 100%;
}
.gallery__thumbnail-play {
  position: absolute;
  background-color: #13304a;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.gallery__thumbnail-play .gallery__icon {
  width: 18px;
  height: 24px;
}
.gallery__thumbnail-play:hover {
  background-color: #e9ece7;
}
.gallery__thumbnail-play:hover .gallery__icon {
  content: url("/assets/icons/play-filled-icon.svg");
}
.gallery img {
  width: 100%;
}
.gallery__footer {
  margin-top: 1rem;
}

.modal {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5019607843);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal[hidden] {
  display: none;
}
.modal__content {
  max-height: 100vh;
  height: 100vh;
  background: linear-gradient(180deg, #e9ece7 0%, #ffffff 100%);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.modal__close {
  background: #9f0000;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__close img {
  width: 18px;
  height: 24px;
}
.modal__heading {
  margin-bottom: 20px;
}
.modal__description {
  font-weight: 400;
  font-size: 16px;
  color: #222222;
  line-height: 140%;
  margin-bottom: 20px;
}
.modal__link {
  color: #076d59;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.modal__video iframe {
  width: 100%;
  border-radius: 20px;
  height: 60vh;
}

.gallery__button:focus-visible,
.gallery__thumbnail-play:focus-visible,
.modal__close:focus-visible {
  outline: 3px solid #13304a;
  outline-offset: 4px;
}

@media (min-width: 769px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    padding: 40px;
    max-width: 1260px;
    margin: 0 auto;
  }
  .gallery__header {
    grid-column: 1/-1;
    justify-items: center;
    text-align: center;
  }
  .gallery__description {
    width: 780px;
    text-align: start;
    margin: 0 auto;
  }
  .gallery__grid {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(200px, 240px));
    gap: 25px;
  }
  .gallery__image, .gallery__thumbnail {
    width: 100%;
  }
  .gallery__thumbnail {
    grid-row: 1/2;
    grid-column: 3;
  }
  .gallery__image--wide {
    grid-column: span 2;
    grid-row: 3/span 1;
    align-self: flex-end;
  }
  .gallery__image--tall {
    grid-row: span 2;
    align-self: flex-end;
  }
  .gallery__footer {
    grid-column: 1/-1;
    margin-top: 2rem;
  }
  .modal__content {
    width: 1000px;
    height: 890px;
    margin: 80px auto;
    border-radius: 16px;
    background-color: red;
  }
  .modal__description {
    width: 800px;
  }
  .modal__video iframe {
    height: auto;
    height: 80vh;
    max-height: 675px;
  }
}
